*{
    margin: 0;
    padding: 0;
}

.modal{
    position: relative;
    background-color: rgb(204, 202, 202);
    width: 100vw;
    height: 100vh;
}

.modal_window{
    position: absolute;
    width: 25%;
    height: 35%;
    left: 35%;
    top: 30%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.modal_header{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 33.3%;
}
.modal_title{
    position: absolute;
    font-weight: 700;
    font-size: 36px;
}

.close{
    position: absolute;
    left: 93%;
    top: 3%;
}
.exit{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    opacity: .5;
}

.modal_body{
    position: absolute;
    font-size: 24px;
    margin: 10px;
}

.modal_footer {
    position: relative;
    width: 100%;
    height: 30.3%;
}
.button {
    position: absolute;

    width: 20%;
    height: 40%;
    
    left: 75%;
    top: 100.35%;
}