body {
   width: 210mm;
  height:297mm;
  font: 14pt Times New Roman;
  text-align: center;
    }
pre {
    font-weight: 700;
  font-size: 130%;
  font-style: italic;
     }
footer {
  color: rgba(128,128,128,0.6)
}
