body {
  width: 210mm;
  height:297mm;
  }
pre {
  background: url(https://avatars.mds.yandex.net/get-pdb/1337215/eb340912-3187-4ecc-aada-8c44944d2b9e/orig);
  font-weight: 900;
  font-size: 130%;
  font-style: italic;
   }
footer {
  color: rgba(128,128,128,0.6)
}
