.like {
    width: 50%;
    height: auto;
}


a> .heart{
    background-color: silver;
    margin-top: 25px;
    margin-left: 25px;
    border: none;
    position: absolute;
    text-decoration: none;
}
A IMG { 
    border: none; 
}
a> .heart:visited {
    background-color: rgba(112, 3, 3, 0.7);
}

a> .heart:hover {
    background-color: blue;
}
a> .heart:active{
    background-color: red;
}
a> .heart:visited:hover {
    background-color: rgba(255, 0, 0, 0.7);
}