#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('https://simplamarket.com/files/uploads/rating.png') no-repeat ;
}

#reviewStars-input {
  
 
  overflow: hidden;
  *zoom: 1;
 
  
  position: relative;
  float: left;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 25px;
  height: 25px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
  background-position:  0 -25px;
  height: 25px;
  width: 25px;
}

#reviewStars-input label {
  background-position:  ;
  height: 25px;
  width: 25px;
  float: right;
  cursor: pointer;
  margin-right: 0px;
  
  position: relative;
  z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -25px;
  height: 25px;
  width: 25px;
}

#reviewStars-input #star-0 {
  left: 0px;
}
#reviewStars-input #star-1 {
  left: 25px;
}
#reviewStars-input #star-2 {
  left: 50px;
}
#reviewStars-input #star-3 {
  left: 75px;
}
#reviewStars-input #star-4 {
  left: 100px;
}
#reviewStars-input #star-5 {
  left: 125px;
}